<section class="aboutme">
    <div class="container d-flex">
        <h2 class="w-25 text-capitalize">about me</h2>
        <div class="aboutme__text w-75">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt ipsum harum veniam numquam reiciendis
                rerum necessitatibus alias dolor quaerat autem repudiandae sunt, sed incidunt laborum fugit et
                temporibus sit perferendis. Fuga illum aliquid iste odio rerum quisquam, iusto quasi? Natus neque quasi
                exercitationem, harum at et, ex facere non soluta in recusandae architecto. Corrupti, architecto quasi.
                Laudantium earum dicta quis assumenda porro dolores ratione quos fuga modi, facilis beatae, deleniti,
                corporis voluptates doloremque! Ea illum non soluta in recusandae architecto. Corrupti, architecto quasi.
                Laudantium earum dicta quis assumenda porro dolores ratione quos fuga modi, facilis beatae, deleniti,
                corporis voluptates doloremque! Ea illum
            </p>
            <button class="btn text-capitalize text-white px-3 py-2">download resume</button>
        </div>
    </div>
</section>